* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  
}



.background-image {
  position: relative;
  filter: blur(1px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
 display: block;
 object-fit: cover;
 min-height: 25rem;
}

.heading-wrap {
  border: 10px solid rgb(170, 172, 173);
  border-bottom: 0;
  position: relative;
  display: flex;
overflow: hidden;
}

.heading {
  background-color: oldlace;
  color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  text-align: center;
  border: solid;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 6px 5px black; 
  box-shadow: 0px 1px 6px 5px black;
}

.footer-wrap {
border: 10px solid rgb(170, 172, 173);
border-top: 0;
}

.footer {
  position: relative;
  width: 100%;
  max-height: 7rem;
  font-size: 2em;
  background-color:oldlace;
  border-top: solid 10px green;
  border-bottom: solid 10px green;

}
