* {
  box-sizing: border-box;
  margin: 0;
}

body, html {
  height: 100%;
}

body {
  
}

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
   border: 20px green solid;
}

.background-image {
  position: relative;
  filter: blur(2px);
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
 
}

.background-image::before {
  z-index: 0;
  border: 20px green solid;
}

.header {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  box-shadow: 5px;
  border: solid;
  z-index: 1;
}

.footer {
  width: 100%;
  height: 100%;
  font-size: 8em;
  background-color:beige;
  padding: 2px;
  border-top: solid 20px black;
  border-bottom: solid 20px black;
  z-index: 1;
}
