body, html {
  height: 100%;
  margin: 0;
  
}

.bg {
  background-image: url("../lawn.jpg");
  height: 85%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  filter: blur(3px);
  border: 10px inset green;
  
}

.container {
  overflow:hidden;
  position: relative;
}

.box {
  height: 9%;
  width: 99%;
  border: 10px outset rgb(54, 141, 54);
  background-color: rgb(223, 217, 217);
  margin: 2px;
  margin-bottom: 0;
  margin-top: 1px;
}


  
 .action-button {
  border: solid black;
  border-radius:10px 10px 10px 10px;
  font-size: 100%;
  
 } 
